@page "/"
@using NovoConexao.Models


<video autoplay muted loop class="bgVideo">
    <source src="/images/bayer-video.mp4" type="video/mp4">
    Seu navegador não suporta vídeos HTML5.
</video>

<div class="widget-container">
    <img src="/images/LogoBayer.png" style="height: calc(3em + 2.4em); float: left; margin-right: 20px; margin-top: 10px;">
    <div style="overflow: hidden; margin-left: 10px;">
        <h1 style="font-family: 'Segoe UI', Arial, sans-serif; font-size: 2.5em; color: #FFFFFF; margin-bottom: 10px; margin-top: 0; text-align: left;">Conexão OE&PI</h1>
        <h3 style="font-family: 'Segoe UI', Arial, sans-serif; font-size: 1.5em; font-weight: lighter; color: #FFFFFF; margin-bottom: 40px; margin-top: 0; text-align: left;">Produção de Soja e Algodão Latam</h3>
    </div>

    <!-- Grupos de Registros Negocio -->
    <div class="text-container">
        <span class="text-left">/////</span>
        <span class="text-right">Negócios</span>
    </div>
    <div class="grid-main" style="margin-bottom:40px">
        @foreach (var negocio in listaNegocio)
        {
            <div class="widget-button-negocio">
                <button type="button" onclick="window.location.href = '@negocio.UrlText'" class="widget-button-negocio">
                    <div class="div-imagem">
                        <img src="@($"{negocio.IconNegocio}")" alt="@negocio.NameNegocio">
                    </div>
                </button>
            </div>
        }
    </div>

</div>
<!-- Grupos de Registros Links -->

<div class="text-container">
    <span class="text-left">/////</span>
    <span class="text-right">Links Úteis</span>
</div>
<div class="grid-main-links">
    @foreach (var link in listaLink.Where(l => l.Categoria == "Link"))
    {
        <div class="widget-button1x1">
            <button type="button" onclick="window.open('@link.LinkAcesso', '_blank')" class="widget-button1x1">
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6.25 4.75a1.5 1.5 0 0 0-1.5 1.5v11.5a1.5 1.5 0 0 0 1.5 1.5h11.5a1.5 1.5 0 0 0 1.5-1.5v-4a1 1 0 1 1 2 0v4a3.5 3.5 0 0 1-3.5 3.5H6.25a3.5 3.5 0 0 1-3.5-3.5V6.25a3.5 3.5 0 0 1 3.5-3.5h4a1 1 0 1 1 0 2h-4Zm6.5-1a1 1 0 0 1 1-1h6.5a1 1 0 0 1 1 1v6.5a1 1 0 1 1-2 0V6.164l-4.793 4.793a1 1 0 1 1-1.414-1.414l4.793-4.793H13.75a1 1 0 0 1-1-1Z" fill="#ffffff" /></svg>
                <div>@link.Nome</div>
            </button>

        </div>


    }
</div>

<div class="footer-text">
    <h3>Desenvolvido por OE&PI</h3>
</div>

<div class="footer-text-left">
    <h3>Não achou o link que precisa? Nos informe <a href="https://forms.office.com/e/9TbiYDY27n" target="_blank" style="color: white; text-decoration: underline;">aqui</a></h3>
</div>




@code {
    List<Negocio> listaNegocio = new();
    List<MuralAvisos> listaAvisos = new();
    List<LinksConexao> listaLink = new();

    protected override void OnInitialized()
    {
        listaNegocio.AddRange(new List<Negocio>
        {
            new Negocio { NameNegocio = "Soybean Production", UrlText = "/SoybeanProduction", IconNegocio = "images/SoyFoundation.png"},
            new Negocio { NameNegocio = "Soybean Pre Found", UrlText = "/SoybeanPreFound" , IconNegocio = "images/SoyPreFound.png"},
            new Negocio { NameNegocio = "Cotton Production", UrlText = "/CottonProduction", IconNegocio = "images/Cotton.png"},
            new Negocio { NameNegocio = "OEPI", UrlText = "/OEPI", IconNegocio = "images/OEPI.png"},

        });

        listaAvisos.AddRange(new List<MuralAvisos>
        {
            new MuralAvisos { Titulo = "Aviso 1", ImagemUrl = "/images/aviso1.jpg", Descricao = "Descrição do aviso 1" },

        });

        listaLink.AddRange(new List<LinksConexao>
        {
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Academia de Idiomas", Descricao = "", LinkAcesso = "https://learn.corporate.ef.com/home" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Acessos SAP", Descricao = "", LinkAcesso = "https://accessbuddy-p.intranet.cnb/chat.html" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "AskHR", Descricao = "", LinkAcesso = "https://bayersi.service-now.com/efservices" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Bayer +Valor", Descricao = "", LinkAcesso = "https://maisvalor.bayer.com.br/Account/LogOn?returnUrl=%2F" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "CLMS", Descricao = "", LinkAcesso = "https://clms.intranet.cnb/PreSigning/Home/" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Concur", Descricao = "", LinkAcesso = "https://us2.concursolutions.com/home.asp" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Dashboard Condutor de Veículo", Descricao = "", LinkAcesso = "https://app.powerbi.com/view?r=eyJrIjoiYTIzYzRlOWUtMjZkZC00MWI2LTgxMTUtNjUwMGQyYWE5YjYxIiwidCI6ImYwNDE4MGM5LWY4YmQtNGQyOC05N2RkLThkMDBjYWNjZjYyZSJ9" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Dashboard SSHE", Descricao = "", LinkAcesso = "https://bayergroup.sharepoint.com/sites/027424/SitePages/HomePage.aspx?xsdata=MDV8MDF8fDM1YmEwMmM1NDUwOTRhMDM5MWUyMDhkYjVhYjlhYTk2fGZjYjJiMzdiNWRhMDQ2NmI5YjgzMDAxNGI2N2E3Yzc4fDB8MHw2MzgyMDM1MjU2ODA1MDEyMTh8VW5rbm93bnxWR1ZoYlhOVFpXTjFjbWwwZVZObGNuWnBZMlY4ZXlKV0lqb2lNQzR3TGpBd01EQWlMQ0pRSWpvaVYybHVNeklpTENKQlRpSTZJazkwYUdWeUlpd2lWMVFpT2pFeGZRPT18MXxMMk5vWVhSekx6RTVPbTFsWlhScGJtZGZUVVJPYlUxdFdUVlpha1YwV20xRk5FNURNREJPUjAwd1RGUnJNMXBVUlhSTlIwMTNUMGRaZVZwSFRYZE5hbU0xUUhSb2NtVmhaQzUyTWk5dFpYTnpZV2RsY3k4eE5qZzBOelUxTnpZM05qTTB8YzU2ZTJlN2VlZTViNGNjYTkxZTIwOGRiNWFiOWFhOTZ8ZTRlNzNhNzEzNmNhNDg3ZTg5NTAxNjBlNzU3YmVkYzA%3D&sdata=MnU2TjVwaXRZRURxSE1rSDUvMWRqK2UwM2xTYzlNeFVJeVFUVFBqN1BOUT0%3D&ovuser=fcb2b37b-5da0-466b-9b83-0014b67a7c78%2Ccamila.grassmann%40bayer.com&OR=Teams-HL&CT=1684756096033&clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiIyNy8yMzA0MDIwMjcwNSIsIkhhc0ZlZGVyYXRlZFVzZXIiOmZhbHNlfQ%3D%3D" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Engineering Portal", Descricao = "", LinkAcesso = "https://bayergroupus.sharepoint.com/sites/007728/PortalEng/PortalEng.html" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "GIMS Intelex", Descricao = "", LinkAcesso = "https://clients.intelex.com/Login3/Monsanto/" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Go Learn", Descricao = "", LinkAcesso = "https://eu.degreed.com/dguser4x4o2z7/dashboard/discover" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "GUMS", Descricao = "", LinkAcesso = "https://by-gums.bayer-ag.com/dashboard.aspx" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "IT4You", Descricao = "", LinkAcesso = "https://bayersi.service-now.com/sp?id=index" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Media Pool", Descricao = "", LinkAcesso = "https://identitynet.bayer.com/portal/signin?redirect=%2F" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "MOC", Descricao = "", LinkAcesso = "https://bayergroupus.sharepoint.com/sites/006954/MOC/default.html" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "My Access", Descricao = "", LinkAcesso = "https://myaccess.microsoft.com/@bayergroup.onmicrosoft.com#/overview" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "MyBenefits", Descricao = "", LinkAcesso = "https://ssl2.perquisite.net/RewardCentre/M/RC#/Home" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "MyDoc", Descricao = "", LinkAcesso = "https://mydoc.bayer.biz/cara/index.jsp" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "My Services", Descricao = "", LinkAcesso = "https://myservicesprod.launchpad.cfapps.eu20.hana.ondemand.com/site#Shell-home" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Prima", Descricao = "", LinkAcesso = "https://prima4pwp.bayer-ag.com/identitymanagement/aspx/requests/MyRequests.aspx" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "PS Learning", Descricao = "", LinkAcesso = "https://bayergroup.sharepoint.com/sites/020693/SitePages/Inicio.aspx" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Renasem", Descricao = "", LinkAcesso = "https://sistemasweb.agricultura.gov.br/renasem/" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "SIGEF", Descricao = "", LinkAcesso = "https://sistemasweb.agricultura.gov.br/sigef/#consultaAutenticidade" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Treinamentos", Descricao = "", LinkAcesso = "https://trainingcropscience.velocity.ag/" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Tracc", Descricao = "", LinkAcesso = "https://platform.traccsolution.com/pt/ad67da2a-8e5f-49f8-8b35-44dfb3dfd201" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Link", Nome = "Web Access", Descricao = "", LinkAcesso = "https://bayergroup.sharepoint.com/sites/HowITWorks/SitePages/it-support-and-ordering/web-access-for-private-devices.aspx" }


        });
    }
}