@page "/"
@using NovoConexao.Models

<div class="widget-container">
    <img src="/images/LogoBayer.png" alt="LogoBayer" style="height: calc(3em + 2.4em); float: left; margin-right: 20px; margin-top: 10px;">
    <div style="overflow: hidden; margin-left: 10px;">
        <h1 style="font-family: 'Segoe UI', Arial, sans-serif; font-size: 2.5em; color: #FFFFFF; margin-bottom: 10px; margin-top: 0; text-align: left;">Conexão OEPI</h1>
        <h3 style="font-family: 'Segoe UI', Arial, sans-serif; font-size: 1.5em; font-weight: lighter; color: #FFFFFF; margin-bottom: 40px; margin-top: 0; text-align: left;">Produção de Soja e Algodão Latam</h3>
    </div>

    <!-- Grupos de Registros -->
    @foreach (var categoria in listaLink.Select(l => l.Categoria).Distinct())
    {
        <div class="categoria-container">
            <h3 style="font-family: 'Segoe UI', Arial, sans-serif; font-size: 1.5em; font-weight: lighter; color: #FFFFFF; margin-bottom: 20px; margin-top: 0; text-align: left;">@categoria</h3>
            <div class="widget-row" style="display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 20px;">
                @foreach (var link in listaLink.Where(l => l.Categoria == categoria))
                {
                    <div class="widget-item" style="width: 100%; height: 100%;">
                        <button type="button" onclick="window.open('@link.LinkAcesso', '_blank')" class="widget-button" style="width: 100%; height: 100%; margin: 0;">
                            <div class="negocio">@link.Negocio</div>
                            <div class="nome">@link.Nome</div>
                            <div class="descricao">@link.Descricao</div>
                            <span class="link-acesso">Acessar</span>
                        </button>
                    </div>
                }
            </div>
            <hr style="border-top: 1px solid #FFFFFF;">
        </div>
    }
</div>

@code {
    List<LinksConexao> listaLink = new();

    protected override void OnInitialized()
    {
        listaLink.AddRange(new List<LinksConexao>
        {
            new LinksConexao { Negocio = "Soy & Cotton Production", Categoria = "Dashboard", Nome = "Power BI Soy & Cotton Prod", Descricao = "Aplicação Power BI com todos os dashboards ativos do time de Produção de Soja e Algodão Latam", LinkAcesso = "https://app.powerbi.com/groups/a5a25888-be4f-4387-8415-3d636e7e4938/reports/5a1360f5-efec-48b8-85f0-da7d12e0ee1c/ReportSection6075ec0d6b260e646f11?experience=power-bi" },
            new LinksConexao { Negocio = "Soy Foundation", Categoria = "Repositório", Nome = "Soy FND Sharepoint", Descricao = "Repositório de arquivos oficial do time de produção de soja comercial.", LinkAcesso = "https://bayergroup.sharepoint.com/sites/035770/SC%20Soybean%20Production/Forms/AllItems.aspx" },
            new LinksConexao { Negocio = "Soy Pre Found", Categoria = "Repositório", Nome = "Soy Pre Found Sharepoint", Descricao = "Repositório de arquivos oficial do time de produção de soja pré-comercial.", LinkAcesso = "https://bayergroup.sharepoint.com/sites/035770/SC%20Soybean%20Pre%20Foundation/Forms/AllItems.aspx" },
            new LinksConexao { Negocio = "Cotton MFG", Categoria = "Repositório", Nome = "Cotton MFG Sharepoint", Descricao = "Repositório de arquivos oficial do time de manufatura de algodão", LinkAcesso = "https://bayergroup.sharepoint.com/sites/035770/SC%20Cotton%20Operations/Forms/AllItems.aspx" },
            new LinksConexao { Negocio = "OEPI", Categoria = "Repositório", Nome = "OEPI Sharepoint", Descricao = "Repositório de arquivos oficial do time de OEPI.", LinkAcesso = "https://bayergroup.sharepoint.com/sites/035770/SC%20Process%20Optimization/Forms/AllItems.aspx" },
            new LinksConexao { Negocio = "Soy & Cotton Leardship", Categoria = "Repositório", Nome = "S&C Leardship Sharepoint", Descricao = "Repositório de arquivos oficial do time de liderança de Soja e Algodão Latam", LinkAcesso = "https://bayergroup.sharepoint.com/sites/035770/SC%20Leadership/Forms/AllItems.aspx" },
            new LinksConexao { Negocio = "Soy Foundation", Categoria = "Aplicação", Nome = "GMS", Descricao = "Aplicação para coleta de dados dos multiplicadores, plantio e colheita.", LinkAcesso = "https://org95d29a28.crm4.dynamics.com/main.aspx?appid=99acaefc-b058-ee11-be6f-000d3ab6325b&forceUCI=1&pagetype=custom&name=cr05a_homegms3_3b985" },
            new LinksConexao { Negocio = "Cotton MFG", Categoria = "Aplicação", Nome = "Cotton Operations Tools", Descricao = "Sistema de gestão operacional da produção de algodão", LinkAcesso = "https://org95d29a28.crm4.dynamics.com/main.aspx?appid=3762f5b2-77ac-ed11-aad0-0022489fd473" },
            new LinksConexao { Negocio = "Soy Pre Found", Categoria = "Aplicação", Nome = "Handoff System", Descricao = "Solicitação de Handoff de sementes de soja pré-comercial", LinkAcesso = "https://org95d29a28.crm4.dynamics.com/main.aspx?appid=94988011-900f-ee11-8f6d-000d3ab9c00f" },
            new LinksConexao { Negocio = "Soy & Cotton Production", Categoria = "Aplicação", Nome = "Assistente de Compras", Descricao = "Ferramenta para solicitações de RC's para todos os negócios do time", LinkAcesso = "https://org95d29a28.crm4.dynamics.com/main.aspx?appid=b55b58f0-4dbf-ed11-83ff-0022489fd473&pagetype=entitylist&etn=cr05a_scacrequisicaocompras&viewid=7dc217b2-e18e-4557-a43a-9842c560b0d7&viewType=1039" },
            new LinksConexao { Negocio = "Soy & Cotton Production", Categoria = "Aplicação", Nome = "Calendário de Eventos", Descricao = "Cadastramentos de eventos operacionais de todos os negócios", LinkAcesso = "https://org95d29a28.crm4.dynamics.com/main.aspx?appid=b55b58f0-4dbf-ed11-83ff-0022489fd473&pagetype=entitylist&etn=cr05a_oepicalendariodeeventos&viewid=3da60115-3b2d-400e-9499-b8158a8c5f95&viewType=1039" },
            new LinksConexao { Negocio = "Soy & Cotton Production", Categoria = "Aplicação", Nome = "Asset Track", Descricao = "Gerenciador do ativos mobilizados entregues aos usuários de campo", LinkAcesso = "https://org95d29a28.crm4.dynamics.com/main.aspx?appid=b55b58f0-4dbf-ed11-83ff-0022489fd473&pagetype=entitylist&etn=cr05a_oepidadosativos&viewid=7319cff1-6eb0-4adc-a4e9-a2881ac018a5&viewType=1039" },
            new LinksConexao { Negocio = "Soy & Cotton Production", Categoria = "Aplicação", Nome = "Scorecard System", Descricao = "Ferramenta para coleta de metricas e indicadores do Scorecard dos times", LinkAcesso = "https://org95d29a28.crm4.dynamics.com/main.aspx?appid=b55b58f0" },
            new LinksConexao { Negocio = "Soy Foundation", Categoria = "Aplicação", Nome = "Multisoja", Descricao = "Sistema de criação de lotes de beneficiamento de semente de soja comercial.", LinkAcesso = "https://multisojabayer.com/" },
            new LinksConexao { Negocio = "Soy Foundation", Categoria = "Aplicação", Nome = "Multisite", Descricao = "Sistema para gestão da precificação de Soja comercial e envio de notas pelos multiplicadores", LinkAcesso = "https://multisitesoja.velocity-np.ag/" }
        });
    }

}